* {
  box-sizing: border-box;
}

/* GENERAL */
body {
  background-color: antiquewhite;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* INPUT */
#input {
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

/* TODOS */
.todos {
  list-style-type: none;
}

.todos li {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6b6;
  text-decoration: line-through;
}
